<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw002_001a - Transferência entre Depósitos - AJAX Browser
#######################################################################*/

{esapi\esapi001.p}
{includes\library.i}

DO ON ERROR UNDO, LEAVE:
	/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/
	
	/* Instancia BOS */
	DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
	
	/* Recupera informações do item */	
	DEFINE VARIABLE vItem AS CHARACTER NO-UNDO.	
	DEFINE VARIABLE vDescricao AS CHARACTER NO-UNDO.	
	vItem = GET-FIELD ('leitura').	
	RUN pi-desc-item-rack (INPUT vItem, OUTPUT vDescricao, OUTPUT TABLE tt-erro-api).	

END.	
%>

<QUERYRESULTS>
	<RETURNDATA>
		<CODIGO><%=vItem%></CODIGO>
		<DESCRICAO><%=vDescricao%></DESCRICAO>
	</RETURNDATA>
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>
