<%

/* ######################################################################
fdcw001_001 - Menu de acesso (tela inicial)
#######################################################################*/

{esapi\esapi001.p}

DO ON ERROR UNDO, LEAVE:

{Includes\header.i}

/* Verifica se possui login feito */
IF  GET-COOKIE('cod_usu_websession') = "" THEN DO:	
	RUN fdcw001_002.
	QUIT.
END. 

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Valida se usuario pode acessar o programa */
RUN pi-menu (INPUT GET-COOKIE('cod_usu_websession'), OUTPUT TABLE tt-menu).
FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw001_001" no-error.
IF NOT AVAILABLE tt-menu THEN DO:
	RUN fdcw001_002.
	QUIT.
END.

FOR EACH tt-menu WHERE 
    tt-menu.ind-menu = TRUE AND
    tt-menu.cod-usuario = GET-COOKIE ('cod_usu_websession')
    NO-LOCK:
    ACCUMULATE tt-menu.cod-programa (COUNT).
END.

{&OUT} '<script language="javascript" src="/' Broker '/fdcw001_001.js?' RANDOM(0, 999999999) '"></script>' SKIP.

%>

<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
    <% IF (ACCUM COUNT tt-menu.cod-programa) > 11 THEN DO: %>
         <div style="overflow-x: hidden; overflow-y: scroll; height: 324px; width: 324px">
    <% END.%>
	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">MENU PRINCIPAL</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w20" cellpadding="0" cellspacing="0" border="0">
					<tr >
						<td class="Caption ac h1" >Selecione a a&ccedil;&aacute;o desejada:</td>
					</tr>
										
					<tr>
						<td class="ac h1" >
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<%  FOR EACH tt-menu WHERE 
									tt-menu.ind-menu = TRUE AND
									tt-menu.cod-usuario = GET-COOKIE ('cod_usu_websession')
									NO-LOCK: %>
									<tr>
										<td class="Caption ac" style="height:24px"><input name="bt_<%=tt-menu.cod-programa%>" id="bt_<%=tt-menu.cod-programa%>" pRetValue="<%=tt-menu.cod-programa%>" type="button" class="defaultbutton w14 s_on" format="button" value="<%=tt-menu.descricao%>" transaction="yes"></td>									
									</tr>
								<% END. %>	
								<tr>
									<td class="Caption ac" style="height:24px"><input name="bt_logoff" id="bt_logoff" type="button" class="defaultbutton w14 s_on" pRetValue="fdcw001_002b" format="button" value="LOGOFF" transaction="yes"></td>
								</tr>
							</table>
						</td>
					</tr>	
				</table>
			</td>
		</tr>
	</table>
  <% IF (ACCUM COUNT tt-menu.cod-programa) > 11 THEN DO: %>
  </div>  
  <% END. %>
	
	<% 	RUN pOutputErrorMessages . %>

</form>
</body>
</html>

<%
END.
%>
