<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw040_001a - Separacao de Embarque - AJAX Browser
#######################################################################*/


{esapi\esapi007.p}
{includes\library.i}


/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
DEFINE VARIABLE p-senha AS CHARACTER NO-UNDO.

/* Monta TT Rgs / Racks */
DEFINE VARIABLE vCounter AS INTEGER NO-UNDO.

EMPTY TEMP-TABLE tt-codigo.
CREATE tt-codigo.
ASSIGN tt-codigo.codigo = GET-VALUE('leitura').

REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):	
	CREATE tt-codigo.
	ASSIGN tt-codigo.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
END.

/* Monta tt-inputs */
EMPTY TEMP-TABLE tt-pedido.
CREATE tt-pedido.
ASSIGN tt-pedido.nome-abrev = GET-FIELD ('cod_cliente')
   	   tt-pedido.nr-pedcli = GET-FIELD ('pedido')
	   tt-pedido.rg-item = GET-FIELD ('leitura')
	   tt-pedido.cod-pto-controle = GET-FIELD ('pto_controle')
	   tt-pedido.cod-usuar-auth = GET-FIELD('auth_login')
	   tt-pedido.cod-senha-auth = GET-FIELD('auth_pass')
	   .

/* Recupera informacoes do item */	
RUN pi-verifica-item-ped (INPUT GET-FIELD ('nrEmbarque'),
                          INPUT-OUTPUT TABLE tt-pedido,
						  INPUT TABLE tt-codigo,
						  OUTPUT TABLE tt-erro-api).	

DEFINE VARIABLE l-Erro AS LOGICAL INITIAL FALSE NO-UNDO.

IF CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN l-Erro = TRUE.

FIND FIRST tt-pedido NO-LOCK NO-ERROR. 
IF NOT AVAILABLE tt-pedido THEN l-Erro = TRUE.

if not l-Erro then do:
	/* incluir aqui logica para verificar fifo */
	/* essa logica nao deve ficar na procedure pi-verifica-item-ped 
	pois a mesma procedure nao utilizada em outros programas de reporte */
	
	RUN verificarFIFO(INPUT TABLE tt-pedido,
					  INPUT TABLE tt-codigo,
					  OUTPUT p-senha,
					  OUTPUT TABLE tt-erro-api).
	

	for each tt-erro-api 
		where tt-erro-api.mensagem MATCHES('*RG fora do FIFO*').

		if tt-pedido.cod-usuar-auth <> "" then do:
			assign tt-erro-api.tipo = 2
			       tt-erro-api.mensagem = '56551 - ' + tt-erro-api.mensagem.
		end.
		else do:
			assign tt-erro-api.tipo = 1
			       tt-erro-api.mensagem = '56550 - ' + tt-erro-api.mensagem.
		end.
	end.
end.

%>


<QUERYRESULTS>
<%
FIND FIRST tt-erro-api NO-LOCK NO-ERROR.
IF AVAILABLE tt-erro-api AND tt-erro-api.mensagem begins '56550' THEN DO:
%>
	<AUTH>Authorization Required</AUTH>
	<EMBARQUE>true</EMBARQUE>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO><%=tt-pedido.descricao%></DESCRICAO>	
	</RETURNDATA>

<% END. %>


		
	<% IF NOT l-Erro THEN DO: %>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO><%=tt-pedido.descricao%></DESCRICAO>	
	</RETURNDATA>
	<% END. ELSE DO: %>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO></DESCRICAO>	
	</RETURNDATA>
	<% END. %>
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>


</QUERYRESULTS>

