<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw001_008 - Selecao de Cor - AJAX Validacao
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi009.p}
{includes\library.i}

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Valida a cor */
DEFINE VARIABLE vDescCor AS CHARACTER NO-UNDO.
RUN  pi-valida-cor 
    (    INPUT GET-FIELD ('leitura'),
        OUTPUT vDescCor,
        OUTPUT TABLE tt-erro-api
    	).

/* Elimina BOs */
END.	

DEFINE VARIABLE l-Erro AS LOGICAL INITIAL FALSE NO-UNDO.

IF CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN l-Erro = TRUE.
%>

<QUERYRESULTS>
<%	
IF NOT l-Erro THEN DO: 	%>
	<RETURNDATA>
		<CODIGO><%=GET-VALUE('leitura')%></CODIGO>
	</RETURNDATA>
<% 	END. ELSE DO: 	%>
	<RETURNDATA>
		<codigo></codigo>
	</RETURNDATA>
<% END. %>


%>
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>

</QUERYRESULTS>

<% 
%>
