<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw009_001 - Apontamento de Pintura - AJAX Browser
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi009.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().*/
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.*/
/*RUN esapi\esapi009.p PERSISTENT SET hAPI ON SERVER hServer.*/

/* Monta tt-inputs */
EMPTY TEMP-TABLE tt-codigo.
CREATE tt-codigo.
ASSIGN tt-codigo.codigo = GET-FIELD('leitura').

EMPTY TEMP-TABLE tt-pintura.
CREATE tt-pintura.
ASSIGN tt-pintura.cod-usuario = GET-COOKIE ('cod_usu_websession')
	tt-pintura.cod-pto-controle = GET-FIELD ('pto_controle')
	tt-pintura.cod-cor = GET-FIELD ('cod_cor').

/* Valida Item */
RUN pi-valida-pintura 
	/*IN hAPI*/
    (
	INPUT TABLE tt-pintura,
	INPUT-OUTPUT TABLE tt-codigo,
	OUTPUT TABLE tt-erro-api
).

/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
END.	
/*fDesconectaServidor().	*/

FIND FIRST tt-codigo NO-ERROR.


	
%>
	
<QUERYRESULTS>

	<RETURNDATA>
		<CODIGO><%=tt-codigo.codigo%></CODIGO>
		<DESCRICAO><%=tt-codigo.descricao%></DESCRICAO>
	</RETURNDATA>
	
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>



 



