<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw009_001 - Apontamento de Pintura - AJAX Efetua Transação
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi009.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

DEFINE VARIABLE vCounter AS INTEGER INITIAL 0  NO-UNDO.
DEFINE VARIABLE lAuth AS LOGICAL INITIAL FALSE  NO-UNDO.
DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.

/* Monta tt-inputs */
EMPTY TEMP-TABLE tt-pintura.
EMPTY TEMP-TABLE tt-rg-item.

CREATE tt-pintura.
ASSIGN tt-pintura.cod-usuario = GET-COOKIE ('cod_usu_websession')
	tt-pintura.cod-pto-controle = GET-FIELD ('pto_controle')
	tt-pintura.cod-usuar-auth = GET-FIELD ('auth_login')
	tt-pintura.cod-senha-auth = GET-FIELD ('auth_pass')
	tt-pintura.cod-cor = GET-FIELD ('cod_cor').
    
    
EMPTY TEMP-TABLE tt-codigo.
REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):	
	CREATE tt-codigo.
	ASSIGN tt-codigo.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
    
    CREATE tt-rg-item.
     ASSIGN 
        tt-rg-item.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
    
    
END.

MESSAGE "== tt-codigo =====" SKIP.
FOR EACH tt-codigo NO-LOCK:
	MESSAGE tt-codigo.codigo SKIP.
END.

/* Invoca API */
RUN pi-apontamento 
	/*IN hAPI*/
    (
	INPUT-OUTPUT TABLE tt-pintura,
	INPUT TABLE tt-codigo,
	OUTPUT TABLE tt-erro-api).
    
    
    
MESSAGE 'GET-FIELD (cod_rack) ' GET-FIELD ('cod_rack') .

for each tt-erro-api.
    message 'tt-erro-api ' tt-erro-api.mensagem.
end.
    
    
if GET-FIELD ('cod_rack') <> '' THEN DO:

   

   if can-find(first tt-erro-api
      where tt-erro-api.mensagem matches '*realizado com sucesso*') then do:
      
      run esapi\esapi006.p PERSISTENT SET hAPI.
      
      /* Monta tt-input */
      CREATE tt-monta-rack.
      ASSIGN 
         tt-monta-rack.cod-usuario = GET-COOKIE ('cod_usu_websession') 
         tt-monta-rack.cod-pto-controle = GET-FIELD ('pto_controle')
         tt-monta-rack.nr-rack = ENTRY(1, GET-FIELD ('cod_rack'))
         tt-monta-rack.rg-item = ''.
         
     MESSAGE 
     skip
     'tt-monta-rack.cod-usuario      ' tt-monta-rack.cod-usuario 
     skip
     'tt-monta-rack.cod-pto-controle ' tt-monta-rack.cod-pto-controle
     skip
     'tt-monta-rack.nr-rack ENTRY 1         ' tt-monta-rack.nr-rack
     skip
     'tt-monta-rack.rg-item          ' tt-monta-rack.rg-item 
     .
     
     
     MESSAGE 'tt-rg-item' SKIP.
     
     for EACH tt-rg-item:
        MESSAGE 'tt-rg-item.CODIGO ' tt-rg-item.CODIGO SKIP.
     END.
     
               
     
      RUN pi-efetiva-monta-rack IN hAPI
         (INPUT-OUTPUT TABLE tt-monta-rack,
	      INPUT TABLE tt-rg-item,
	      OUTPUT TABLE tt-erro-api).
          
          for each tt-erro-api:

             disp 'tt-erro-api.mensagem ' tt-erro-api.mensagem.
             
             end.
          
          
      DELETE PROCEDURE hAPI NO-ERROR.          
      
   end.
END.
    
	
/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
END.	
/*fDesconectaServidor().	*/

%>

<QUERYRESULTS>

<%

/* Verifica autorização FIFO-SAC */
FIND FIRST tt-pintura NO-LOCK NO-ERROR.
IF AVAILABLE tt-pintura THEN DO:
	IF tt-pintura.l-auth THEN DO:
		%>
		<AUTH>Authorization Required</AUTH>
		<%
	END.
END.
%>

	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>


<% 
/*OUTPUT CLOSE.*/
%>
