<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>

<?xml version="1.0" encoding="ISO-8859-1"?>

<%

/* ######################################################################
fdcw006_001b - Montagem de Rack - AJAX Efetua Transacao
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi006.p}
{includes\library.i}

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

DEFINE VARIABLE vCounter AS INTEGER INITIAL 0  NO-UNDO.
DEFINE VARIABLE lAuth AS LOGICAL INITIAL FALSE  NO-UNDO.

/* Monta tt-input */
CREATE tt-monta-rack.
ASSIGN 
    tt-monta-rack.cod-usuario = GET-COOKIE ('cod_usu_websession') 
	tt-monta-rack.cod-pto-controle = GET-FIELD ('pto_controle')
	tt-monta-rack.nr-rack = GET-FIELD ('rack')
	tt-monta-rack.rg-item = GET-FIELD ('leitura')
	tt-monta-rack.cod-usuar-auth = GET-FIELD('auth_login')
	tt-monta-rack.cod-senha-auth = GET-FIELD('auth_pass')
.

 	
/* Monta tt-rg-item */
EMPTY TEMP-TABLE tt-rg-item.
REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):	
	CREATE tt-rg-item.
	ASSIGN tt-rg-item.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
END.

/* Invoca API */
RUN pi-efetiva-monta-rack 
    (INPUT-OUTPUT TABLE tt-monta-rack,
	 INPUT TABLE tt-rg-item,
	 OUTPUT TABLE tt-erro-api).
END.	

%>


<QUERYRESULTS>
    <%
        FOR EACH tt-erro-api where tt-erro-api.mensagem begins '56550':
            delete tt-erro-api.
        END.
    %>
    <% /* <AUTH>Authorization Required</AUTH> END. */ %>

  <ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>
    <ERROR>
	  <TYPE><%=tt-erro-api.tipo%></TYPE>
	  <MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
  </ERRORS>
</QUERYRESULTS>
