<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw003_002 - Devolução de Requisição - AJAX Browser
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi003.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().*/
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.*/
/*RUN esapi\esapi003.p PERSISTENT SET hAPI ON SERVER hServer.*/

put unformatted "avalicacao do get-value ".
put unformatted get-value("leitura").
put unformatted get-value("pto_controle") skip.

/* Encontra informações sobre a requisição */
RUN pi-busca-estorno 
	/*IN hAPI*/
    (
	INPUT GET-VALUE ('leitura'),
    input get-value ("pto_controle"),
	OUTPUT TABLE tt-det-requis,
	OUTPUT TABLE tt-erro-api).


/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
END.	
/*fDesconectaServidor().	*/

%>
<QUERYRESULTS>
<%

DEFINE VARIABLE l-Erro AS LOGICAL INITIAL FALSE NO-UNDO.

IF CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN l-Erro = TRUE.

FIND FIRST tt-det-requis NO-LOCK NO-ERROR. 
IF NOT AVAILABLE tt-det-requis THEN l-Erro = TRUE.

IF NOT l-Erro THEN DO: 	%>
	<FORMDATA>
		<item><%=GET-VALUE('leitura')%></item>
		<desc_item><%=tt-det-requis.desc-item%></desc_item>
		<cod_docto><%=tt-det-requis.nr-requisicao%></cod_docto>
		<depositoentrada><%=tt-det-requis.cod-depos-dest%></depositoentrada>
		<localizacaoentrada><%=tt-det-requis.cod-localiz-dest%></localizacaoentrada>
		<depositosaida><%=tt-det-requis.cod-depos-orig%></depositosaida>
		<localizacaosaida><%=tt-det-requis.cod-localiz-orig%></localizacaosaida>		
	</FORMDATA>
<% 	END. ELSE DO: 	%>
	<FORMDATA>
		<item></item>
		<desc_item></desc_item>
		<cod_docto></cod_docto>
		<depositoentrada></depositoentrada>
		<localizacaoentrada></localizacaoentrada>
		<depositosaida></depositosaida>
		<localizacaosaida></localizacaosaida>	
	</FORMDATA>
<% END. %>

<ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>	
	<ERROR>
		<TYPE><%=tt-erro-api.tipo%></TYPE>
		<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
</ERRORS>

</QUERYRESULTS>



<% 
/*OUTPUT CLOSE.*/
%>


 
