<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw006_002a - Desmontagem de Rack - AJAX Browser
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi006.p}
{Includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/


/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().*/
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.*/
/*RUN esapi\esapi006.p PERSISTENT SET hAPI ON SERVER hServer.*/
				
/* Monta tt-input */
CREATE tt-monta-rack.
ASSIGN tt-monta-rack.cod-usuario = GET-COOKIE ('cod_usu_websession') 
	tt-monta-rack.cod-pto-controle = GET-FIELD ('pto_controle')
	tt-monta-rack.nr-rack = GET-FIELD ('rack')
	tt-monta-rack.rg-item = GET-FIELD ('leitura').
	
/* Valida item */	
RUN pi-valida-saida-rack 
/*IN hAPI*/
(
	INPUT-OUTPUT TABLE tt-monta-rack,
	OUTPUT TABLE tt-erro-api
	).	

/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
END.	
/*fDesconectaServidor().	*/



DEFINE VARIABLE l-Erro AS LOGICAL INITIAL FALSE NO-UNDO.

IF CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN l-Erro = TRUE.

FIND FIRST tt-monta-rack NO-LOCK NO-ERROR. 
IF NOT AVAILABLE tt-monta-rack THEN l-Erro = TRUE.


%>
<QUERYRESULTS>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
	</RETURNDATA>
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>
