<%
PROCEDURE OUTPUT-HEADERS:
    output-content-type("text/xml; charset=iso-8859-1").
END.
%>

<?xml version="1.0" encoding="ISO-8859-1"?>

<SCRIPT LANGUAGE="SpeedScript">
/* Create an unnamed pool to store all the widgets created by this procedure.
   This is a good default which assures that this procedure's triggers and
   internal procedures will execute in this procedure's storage, and that
   proper cleanup will occur on deletion of the procedure. */
    
   CREATE WIDGET-POOL.

  /*------------------------------------------------------------------
    File: FDCW015_001a
    Description: validar e incluir novo registro no browser de reporte
    Created: 06/03/2023
  -------------------------------------------------------------------*/

    /* vars */
    DEFINE VARIABLE h-api AS HANDLE NO-UNDO.
    
    /* main */
    {esapi\esapi001.p}
    
    EMPTY TEMP-TABLE tt-reporte.
    EMPTY TEMP-TABLE tt-reporte-item.
    
    CREATE tt-reporte.
    ASSIGN 
		tt-reporte.cod-pto-controle = GET-FIELD('pto_controle')
		tt-reporte.cod-depos-orig = GET-FIELD('depSaida')
		tt-reporte.cod-localiz-orig = GET-FIELD('locSaida')
		tt-reporte.cod-depos-dest = GET-FIELD('depEntrada')
		tt-reporte.cod-localiz-dest = GET-FIELD('locEntrada')
		tt-reporte.cod-usuario = GET-COOKIE ('cod_usu_websession')
		tt-reporte.rg-item = get-field('readRG').
		

	/* Monta TT Itens */
	CREATE tt-reporte-item.
	ASSIGN 
		tt-reporte-item.rg-item = GET-FIELD('readRG')
		tt-reporte-item.cod-cor = GET-FIELD('readCor').

    RUN esapi/esapi018.p PERSISTENT SET h-api.
        RUN pi-valida IN h-api (
            INPUT-OUTPUT TABLE tt-reporte,
            INPUT-OUTPUT TABLE tt-reporte-item,
            OUTPUT TABLE tt-erro-api).
    DELETE PROCEDURE h-api.
    
    IF NOT CAN-FIND (FIRST tt-erro-api) THEN 
        FOR FIRST tt-reporte-item. END.
    
</SCRIPT>

<QUERYRESULTS>
    
    <% IF AVAIL tt-reporte-item THEN DO: %>
    <RETURNDATA>
        <CODIGO><%=tt-reporte-item.rg-item%></CODIGO>
        <DESCRICAO><%=tt-reporte-item.cCodLocaliz%></DESCRICAO>
        <COR><%=tt-reporte-item.cod-cor%></COR> 
    </RETURNDATA>
    <% END. ELSE DO:%>
    <RETURNDATA>
        <CODIGO></CODIGO>
        <DESCRICAO></DESCRICAO>
        <COR></COR> 
    </RETURNDATA>
    <% END.%>
    <ERRORS>
        <% FOR EACH tt-erro-api: %> 
	        <ERROR>
	            <TYPE><%=tt-erro-api.tipo%></TYPE>
	            <MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	        </ERROR>
        <% END. %>
    </ERRORS>
    
</QUERYRESULTS>
