<SCRIPT LANGUAGE="SpeedScript">
/* Create an unnamed pool to store all the widgets created by this procedure.
   This is a good default which assures that this procedure's triggers and
   internal procedures will execute in this procedure's storage, and that
   proper cleanup will occur on deletion of the procedure. */
    
   /*CREATE WIDGET-POOL.*/

  /*------------------------------------------------------------------
    File: FDCW015_002
    Description: resumo das operações realizadas
    Created: 05/04/2023
  -------------------------------------------------------------------*/

    /* vars */
    DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
    DEFINE VARIABLE c-cor AS CHARACTER NO-UNDO.
    DEFINE VARIABLE c-rack AS CHARACTER NO-UNDO.
    DEFINE VARIABLE c-nr-rack AS CHARACTER NO-UNDO.
    DEFINE VARIABLE c-linha AS CHARACTER NO-UNDO.
    DEFINE VARIABLE vCounter AS INTEGER NO-UNDO.
    DEFINE VARIABLE de-qtd AS DECIMAL NO-UNDO.
    
    DEFINE TEMP-TABLE tt-rg
        FIELD rg-item LIKE dc-rg-item.rg-item
        FIELD descricao AS CHARACTER 
        FIELD cor AS CHARACTER.
    
    DEFINE TEMP-TABLE tt-resumo
        FIELD it-codigo LIKE ITEM.it-codigo
        FIELD desc-item LIKE ITEM.desc-item
        FIELD qtd AS DECIMAL FORMAT ">>>9".
        
    /* main */
    {esapi\esapi001.p}
    {Includes\header.i}
    
    DO ON ERROR UNDO, LEAVE :
        
        /* Verifica se possui login feito */
	    IF GET-COOKIE('cod_usu_websession') = "" THEN DO:
	        RUN fdcw001_002.
	        QUIT.
	    END.
	    
	    /* Valida se usuario pode acessar o programa */
	    RUN pi-menu (INPUT GET-COOKIE('cod_usu_websession'), OUTPUT TABLE tt-menu).
	
	    FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw015_001".
	    IF NOT AVAILABLE tt-menu THEN DO:
	        RUN fdcw001_001.
	        QUIT.
	    END.    
        
	    RUN pi-devolve-ponto-controle (
                INPUT GET-VALUE ('ptocontrole'),
                OUTPUT TABLE tt-pto-controle,
                OUTPUT TABLE tt-erro-api).
	    
        ASSIGN 
            c-cor = IF GET-VALUE ('tpreporte') = "1" then "Cor Unica" ELSE "Colorido"
            c-rack = IF get-value ('tprack') = "1" THEN "Rack" ELSE "Avulso".
            
        /**
        *  MONTAGEM DAS INFORMAÇÕES
        **/
        EMPTY TEMP-TABLE tt-rg.
        REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):
            
            c-linha = ENTRY(vCounter, GET-VALUE('ItemCodes')).
            
            CREATE tt-rg.
            ASSIGN 
               tt-rg.rg-item   = ENTRY (1, c-linha, ";")
               tt-rg.descricao = ENTRY (2, c-linha, ";")
               tt-rg.cor       = ENTRY (3, c-linha, ";").
            
        END.
        
        c-nr-rack = "".
        FOR EACH tt-rg,
            FIRST dc-rg-item FIELDS (rg-item it-codigo nr-rack) no-lock
            WHERE dc-rg-item.rg-item = tt-rg.rg-item
            BREAK BY dc-rg-item.it-codigo.
            
            IF FIRST-OF (dc-rg-item.it-codigo) THEN
            DO: 
                de-qtd = 0.
                IF c-nr-rack = "" THEN 
                    c-nr-rack = dc-rg-item.nr-rack.
            END.
                
            de-qtd = de-qtd + 1.
            
            IF LAST-OF (dc-rg-item.it-codigo) THEN 
            DO:
                
                FOR FIRST ITEM FIELDS (it-codigo desc-item) no-lock
                    WHERE ITEM.it-codigo = dc-rg-item.it-codigo.
                END.
                
                CREATE tt-resumo.
                ASSIGN tt-resumo.it-codigo = dc-rg-item.it-codigo
                       tt-resumo.desc-item = ITEM.desc-item
                       tt-resumo.qtd = de-qtd.
                       
            END.
                                                    
        END.
        
    END. /* undo, leave */
    
    cAux = '<script language="javascript" src="~/' + Broker + '~/fdcw015_001c.js?' + STRING (RANDOM(0, 999999999))  + '">'. 
    cAux = cAux + '<~/script>'.
    {&OUT} cAux SKIP.
    

</SCRIPT>


<BODY onload="fLoadRoutine()" scroll="no">
	<form action="" method="POST"
		enctype="application/x-www-form-urlencoded" target="_self"
		name="formulario" id="formulario">

		<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td align="center" valign="middle" class="Section">*** RESUMO
					***</td>
			</tr>

			<tr>
				<td align="center" valign="middle">
					<table class="inner_page w20 h20 ac" cellpadding="0"
						cellspacing="0" border="0">
						<tr>
							<td valign="top">
								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td valign="top">
											<table cellpadding="0" cellspacing="0" border="0">
												<tr>
													<td class="Caption al">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr>
																<td class="Caption ar">Pto. Controle</td>
																<td class="Caption al"><input name="pto_controle"
																	id="pto_controle" type="text" class="field w2 s_off"
																	value='<%=GET-VALUE ("ptocontrole")%>'</td>
																<td class="Caption ar">&nbsp;</td>
																<td class="Caption al"><input name="descr_pto"
																	id="descr_pto" type="text" class="field w6 s_off"
																	value="<%=tt-pto-controle.desc-pto-controle%>"></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td class="Caption al">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr>
																<td class="Caption ar">Local&nbsp;&nbsp;&nbsp;&nbsp;</td>
																<td class="Caption ar"><input name="local_pto"
																	id="local_pto" type="text" class="field w3 s_off"
																	value="<%=tt-pto-controle.local-pto%>"></td>
																<td class="Caption ar">Tipo&nbsp;</td>
																<td class="Caption ar"><input name="tipo_cor"
																	id="tipo_cor" type="text" class="field w3 s_off"
																	value="<%=c-cor%>"></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td class="Caption al">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr>
																<td class="Caption ar">Dep Sai</td>
																<td class="Caption ar"><input name="depSaida"
																	id="depSaida" type="text" class="field w3 s_off"
																	value='<%=GET-VALUE("depositosaida")%>'></td>
																<td class="Caption ar">Local</td>
																<td class="Caption ar"><input name="locSaida"
																	id="locSaida" type="text" class="field w3 s_off"
																	value='<%=GET-VALUE("localizacaosaida")%>'></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td class="Caption al">
														<table cellpadding="0" cellspacing="0" border="0">
															<tr>
																<td class="Caption ar">Dep Ent</td>
																<td class="Caption ar"><input name="depEntrada"
																	id="depEntrada" type="text" class="field w3 s_off"
																	value="<%=GET-VALUE("depositoentrada")%>"></td>
																<td class="Caption ar">Local</td>
																<td class="Caption ar"><input name="locEntrada"
																	id="locEntrada" type="text" class="field w3 s_off"
																	value='<%=GET-VALUE("localizacaoentrada")%>'></td>
															</tr>
														</table>
													</td>
												</tr>

												<tr>
													<td class="Caption al">
                                                        <table cellpadding="0" cellspacing="0" border="0">
                                                            <tr>
                                                                <td class="Caption ar">Tipo RC</td>
                                                                <td class="Caption ar"><input name="tprack"
                                                                    id="tprack" type="text" class="field w3 s_off"
                                                                    value='<%=c-rack%>'></td>
                                                                <td class="Caption ar">Rack </td>
                                                                <td class="Caption ar"><input name="rack"
                                                                    id="rack" type="text" class="field w5 s_off"
                                                                    value="<%='RC' + c-nr-rack%>"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
												</tr>

												<tr>
													<td class="ac">
														<DIV class="browser w14 h9" style="margin-top: 4px;">
															<table id="browser_produto" name="browser_produto"
																cellpadding="0" cellspacing="0" border="0">
																<tr>
																	<td width="120" class="browser_row bh">Item</td>
																	<td width="300" class="browser_row bh">Descri&ccedil;&atilde;o</td>
																	<td width="300" class="browser_row bh">Qtd</td>

																</tr>
																<% FOR EACH tt-resumo. %>
																<tr valid="yes"
																	name="browserrow_<%=tt-resumo.it-codigo%>"
																	id="browserrow_<%=tt-resumo.it-codigo%>"
																	pRetValue="<%=tt-resumo.it-codigo%>">
																	<td width="120"
																		name="browserrow_<%=tt-resumo.it-codigo%>"
																		id="browserrow_<%=tt-resumo.it-codigo%>" valid="yes"
																		BrowserClick="yes" class="browser_row b1"
																		pRetValue="<%=tt-resumo.it-codigo%>">
																		<%=tt-resumo.it-codigo%></td>
																	<td width="300"
																		name="browserrow_<%=tt-resumo.desc-item%>"
																		id="browserrow_<%=tt-resumo.desc-item%>" valid="yes"
																		BrowserClick="yes" class="browser_row b1"
																		pRetValue="<%=tt-resumo.desc-item%>">
																		<%=tt-resumo.desc-item%></td>
																	<td width="300"
																		name="browserrow_<%=tt-resumo.qtd%>"
																		id="browserrow_<%=tt-resumo.qtd%>"
																		valid="yes" BrowserClick="yes" class="browser_row b1"
																		pRetValue="<%=tt-resumo.qtd%>">
																		<%=tt-resumo.qtd%></td>
																</tr>
																<% END. %>
															</table>
														</DIV>
													</td>
												</tr>
												<tr>
													<td class="ac">
														<table cellpadding="0" cellspacing="0" border="0"
															width="100%" style="margin-top: 4px;">
															<tr>
																<td class="Caption ar">Total</td>
																<td class="Caption al"><input name="contagem"
																	id="contagem" type="text" class="field w1 s_off"></td>
																<td class="Caption ac"><input name="cancelar"
																	id="cancelar" type="button"
																	class="defaultbutton w4 s_on" format="button"
																	value="FIM" transaction="yes"></td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>

		</table>

	</form>

</BODY>

