<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw040_001b - Separacao de Embarque - AJAX Efetua Transacao
#######################################################################*/


/*DO ON ERROR UNDO, LEAVE:*/
{esapi\esapi007.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

DEFINE VARIABLE vCounter AS INTEGER INITIAL 0  NO-UNDO.
DEFINE VARIABLE lAuth AS LOGICAL INITIAL FALSE  NO-UNDO.

/* Monta TT Rgs / Racks */
EMPTY TEMP-TABLE tt-codigo.
REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):	
	CREATE tt-codigo.
	ASSIGN tt-codigo.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
END.

/* Monta tt-inputs */
EMPTY TEMP-TABLE tt-pedido.
CREATE tt-pedido.
ASSIGN tt-pedido.cod-usuario = GET-COOKIE ('cod_usu_websession')
	tt-pedido.cod-senha = fDecrypt(GET-COOKIE ('psw_usu_websession'))
	tt-pedido.cod-usuar-auth = GET-FIELD ('auth_login')
	tt-pedido.cod-senha-auth = GET-FIELD ('auth_pass')
	tt-pedido.nome-abrev = GET-FIELD ('cod_cliente')
	tt-pedido.nr-pedcli = GET-FIELD ('pedido')
	tt-pedido.cod-pto-controle = GET-FIELD ('pto_controle').

	
/* Chama a API */
RUN piGravaPedidoEmb
    (
    input GET-FIELD ('nrEmbarque'),
	INPUT TABLE tt-pedido,
	INPUT TABLE tt-codigo,
	OUTPUT lAuth,
	OUTPUT TABLE tt-erro-api ).
		
/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
/*END.	*/
/*fDesconectaServidor().	*/

%>

<QUERYRESULTS>
	<% IF (lAuth) THEN DO: %>
		<AUTH>Authorization Required</AUTH>
	<% END. %>

	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
	
</QUERYRESULTS>


<% 
/*OUTPUT CLOSE.*/
%>




