<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw005_001 - Ativacao de Item - AJAX Efetua Transacao
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi005.p}
{Includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* verifica se ha item informado */

IF GET-VALUE ('cod_rg') = '' THEN DO:
	fRegistraErro (1, "Nenhum item informado").
END. ELSE DO:		
	/* Chama a API */	
	RUN pi-ativa-rg 
        (
		INPUT GET-VALUE('pto_controle'),
		INPUT GET-VALUE('cod_rg'),
		OUTPUT TABLE tt-erro-api
		).
END.

END.	
%>

<QUERYRESULTS>
<ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>	
	<ERROR>
		<TYPE><%=tt-erro-api.tipo%></TYPE>
		<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>
