<%

/* ######################################################################
fdcw006_001 - Montagem de Rack
#######################################################################*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

DO ON ERROR UNDO, LEAVE:
	{esapi\esapi006.p}
	{esapi\esapi001p.i}
	{Includes\header.i}

	/* Verifica se possui login feito */
	IF GET-COOKIE('cod_usu_websession') = "" THEN DO:
		RUN fdcw001_002.
		QUIT.
	END. 

	/* Valida se usuario pode acessar o programa */
	RUN pi-menu 
		(INPUT GET-COOKIE('cod_usu_websession'), OUTPUT TABLE tt-menu).

	FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw006_001".
	IF NOT AVAILABLE tt-menu THEN DO:
		RUN fdcw001_001.
		QUIT.
	END.

	/* Verifica se possui um pto de controle definido */
	IF GET-VALUE ('ptocontrole') = "" THEN DO:
		SET-USER-FIELD ('action', AppProgram).
		RUN fdcw001_003.
		QUIT.
	END. 

	/* Verifica se possui um rack escolhido */
	IF GET-VALUE ('rack') = "" THEN DO:
		cAux = AppProgram + "?ptocontrole=" + GET-VALUE ('ptocontrole').
		SET-USER-FIELD ('action', cAux).
		RUN fdcw001_005.
		QUIT.
	END. 

	/* Encontra Deposito e Localizacao Padroes para o Ponto de Controle */
	RUN pi-devolve-ponto-controle 
		(
			INPUT GET-VALUE ('ptocontrole'),
			OUTPUT TABLE tt-pto-controle,
			OUTPUT TABLE tt-erro-api
		).
	FIND FIRST tt-pto-controle NO-LOCK NO-ERROR.

	/* Encontra Descricao para o rack informado */
	DEFINE VARIABLE vDescRack AS CHARACTER NO-UNDO.
	RUN pi-valida-rack2 
		(
			INPUT GET-VALUE('rack'), 
			OUTPUT vDescRack, 
			OUTPUT TABLE tt-erro-api
		).	

	/* Retorna lista de itens para o rack informado */
	RUN pi-lista-itens-rack 
		(
		INPUT GET-VALUE('rack'),
		OUTPUT TABLE tt-rack-itens
		).		

	{&OUT} '<script language="javascript" src="/' Broker '/fdcw006_001.js?' RANDOM(0, 999999999) '"></script>' SKIP.

%>

	<body onload="fLoadRoutine()" scroll="no">
	  <form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
		<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		  <tr>
		    <td align="center" valign="middle" class="Section">MONTAGEM DE RACK</td>
		  </tr>
		  <tr>
			<td align="center" valign="middle">
			  <table class="inner_page w20 h20 ac" cellpadding="0" cellspacing="0" border="0">
				<tr>
			  	  <td valign="top">
					<table cellpadding="0" cellspacing="0" border="0">
					  <tr>
						<td valign="top">
						  <table cellpadding="0" cellspacing="0" border="0">
							<tr>
							  <td class="Caption al">
								<table cellpadding="0" cellspacing="0" border="0">
								  <tr>
									<td class="Caption ar">Rack</td>
									<td class="Caption al"><input name="rack" id="rack" type="text" class="field w7 s_off" value="<%=GET-VALUE('rack')%>"></td>
								  </tr>
								  <tr>
									<td class="Caption ar">&nbsp;</td>
									<td class="Caption al"><input name="desc_rack" id="desc_rack" type="text" class="field w10 s_off" 
										value="<%=entry(1, vDescRack, ';' )%>"></td>
								  </tr>
								</table>
							  </td>
							</tr>
						  <tr>
							<td class="Caption al">
						  	  <table cellpadding="0" cellspacing="0" border="0">
							    <tr>
								  <td class="Caption ar">Pto. Controle</td>
								  <td class="Caption al" colspan="3"><input name="pto_controle" id="pto_controle" type="text" class="field w2 s_off" value="<%=GET-VALUE ('ptocontrole')%>"></td>
								  <td class="Caption ar">&nbsp;</td>
								  <td class="Caption al" colspan="3">&nbsp;<input name="descr_pto" id="descr_pto" type="text" class="field w5 s_off" value="<%=tt-pto-controle.desc-pto-controle%>"></td>
								</tr>
							  </table>
							</td>
						  </tr>
						  <tr>
							<td class="Caption al">
							  <table cellpadding="0" cellspacing="0" border="0">
								<tr>
								  <td class="Caption ar">Local</td>
								  <td class="Caption al"><input name="local_pto" id="local_pto" type="text" class="field w3 s_off" value="<%=entry(2, vDescRack, ';' )%>"></td>
								  <td class="Caption ar">Sit</td>
								  <td class="Caption al"><input name="tipo_pto" id="tipo_pto" type="text" class="field w6 s_off" value="<%=entry(3, vDescRack, ';')%>"></td>
								</tr>
							  </table>
							</td>
						  </tr>
						  <tr>
							<td class="al">
							  <table cellpadding="0" cellspacing="0" border="0" style="margin-top:4px;">
								<tr>
								  <td class="Caption ar">RG</td>
								  <td class="Caption ar"><input name="leitura" id="leitura" type="text" class="field w10 s_on" maxlength="13"></td>
								</tr>
							  </table>
							</td>
						  </tr>
						  <tr>
							<td class="ac">
							  <DIV class="browser w14 h9" style="margin-top:4px;">
								<table id="browser_produto" name="browser_produto" cellpadding="0" cellspacing="0" border="0">
								  <tr>
									<td width="120" class="browser_row bh">C&oacute;digo</td>
									<td width="300" class="browser_row bh">Descri&ccedil;&atilde;o</td>
								  </tr>
	<% FOR EACH tt-rack-itens NO-LOCK: %>
								  <tr valid="yes" name="browserrow_<%=tt-rack-itens.rg-item%>" id="browserrow_<%=tt-rack-itens.rg-item%>" pRetValue="<%=tt-rack-itens.rg-item%>">
									<td width="120" name="browserrow_<%=tt-rack-itens.rg-item%>" id="browserrow_<%=tt-rack-itens.rg-item%>" valid="yes" BrowserClick="yes"
												 class="browser_row b1" pRetValue="<%=tt-rack-itens.rg-item%>">
	  	<%=tt-rack-itens.rg-item%>
									</td>
									<td width="300" name="browserrow_<%=tt-rack-itens.rg-item%>" id="browserrow_<%=tt-rack-itens.rg-item%>" valid="yes" BrowserClick="yes"
												 class="browser_row b1" pRetValue="<%=tt-rack-itens.rg-item%>">
	  	<%=tt-rack-itens.desc-rg-item%>
								    </td>
								  </tr>
	<% END. %>
								</table>
							  </DIV>
							</td>
						  </tr>
						  <tr>
							<td class="ac">
							  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:4px;">
								<tr>
							 	  <td class="Caption ar">Total</td>
								  <td class="Caption al"><input name="contagem" id="contagem" type="text" class="field w1 s_off"></td>
								  <td class="Caption ac"><input name="confirmar" id="confirmar" type="button" class="defaultbutton w4 s_on" format="button" value="CONFIRMAR"
													 transaction="yes"></td>
								  <td class="Caption ac"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="CANCELAR"
													 transaction="yes"></td>
								</tr>
							  </table>
							</td>
						  </tr>
						</table>
					  </td>
					</tr>
				  </table>
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
	  </table>
	  <% 	RUN pOutputErrorMessages. %>

	  <input type="Hidden" name="auth_login" id="auth_login" value="">
	  <input type="Hidden" name="auth_pass" id="auth_pass" value="">
	  
	  </form>
    </body>
  </html>

	<% END. %>
	

