<%

/* ######################################################################
fdcw014_001 - Apontamento Invent rio
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi001.p}
{Includes\header.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Verifica se possui login feito */
IF  ENTRY(1, GET-COOKIE("cod_usu_websession"), ",") = "" THEN DO:
	RUN fdcw001_002.
	QUIT.
END. 

/* Valida se usuario pode acessar o programa */
RUN pi-menu 
    (INPUT ENTRY(1, GET-COOKIE("cod_usu_websession"), ","), OUTPUT TABLE tt-menu).
FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw014_001".
IF NOT AVAILABLE tt-menu THEN DO:
	RUN fdcw001_001.
	QUIT.
END.

{&OUT} '<script language="javascript" src="/' Broker '/fdcw014_001.js?' RANDOM(0, 999999999) '"></script>' SKIP.
%>
<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
    <input type="hidden" name="dtSaldo" id="dtSaldo">
    <input type="hidden" name="nrFicha" id="nrFicha">
    <input type="hidden" name="nrContagem" id="nrContagem">
	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">Apontamento Inventario</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w13 h11 ac" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="al">
										<table cellpadding="0" cellspacing="0" border="0" style="margin-top:4px;">
											<tr>
												<td class="Caption ar">Ficha</td>
												<td class="Caption al"><input name="leitura" id="leitura" type="text" class="field w8 s_on"></td>
											</tr>
											<tr>
												<td class="Caption ar">Item</td>
												<td class="Caption al"><input name="itCodigo" id="itCodigo" type="text" class="field w4 s_off"></td>
											</tr>
											<tr>
												<td class="Caption ar">Descricao</td>
												<td class="Caption al"><input name="descItem" id="descItem" type="text" class="field w10 s_off"></td>
											</tr>
											<tr>
                                                <td class="Caption ar">Dep</td>
                                                <td class="Caption al">
                                                   <table cellpadding="0" cellspacing="0" border="0">
                                                      <tr>
         												<td class="Caption al"><input name="codDepos" id="codDepos" type="text" class="field w3 s_off"></td>
         												<td class="Caption ar">UN</td>
         												<td class="Caption al"><input name="un" id="un" type="text" class="field w3 s_off"></td>
                                                      </tr>
                                                   </table>
                                                </td>
											</tr>
											<tr>
												<td class="Caption ar">Localiz</td>
												<td class="Caption al"><input name="codLocaliz" id="codLocaliz" type="text" class="field w4 s_off"></td>
											</tr>
											<tr>
												<td class="Caption ar">Contagem</td>
												<td class="Caption al"><input name="contagem" id="contagem" type="text" class="field w4 s_off"></td>
											</tr>
											<tr>
												<td class="Caption ar">Quantidade</td>
												<td class="Caption al"><input name="valApurado" id="valApurado" type="text" class="field w4 s_on"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="ac">
										<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:4px;">
											<tr>
												<td class="Caption ac h18"><input name="confirmar" id="confirmar" type="button" class="defaultbutton w4 s_off" format="button" value="CONFIRMAR" transaction="yes"></td>
												<td class="Caption ac h18"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="SAIR" transaction="yes"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	<% 	RUN pOutputErrorMessages . %>
	
</form>
</body>
</html>

<%
END.
%>
