<%

/* ######################################################################
fdcw001_006 - Selecao de Usuario
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{include/ttdef1.i}
{Includes\header.i}

{&OUT} '<script language="javascript" src="/' Broker '/fdcw001_006.js?' RANDOM(0, 999999999) '"></script>' SKIP.

%>

<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
	<table class="outer_page w11 h7" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w9" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td class="ac">
							<table cellpadding="0" cellspacing="0" border="0" style="margin-top:4px;">
								<tr>
									<td class="Caption ac">Identifica&ccedil;&atilde;o do Usu&aacute;rio</td>
								</tr>
								<tr>
									<td class="Caption ac"><input name="leitura" id="leitura" type="password" class="field w8 s_on"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="ac">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="Caption ac">
									   <input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="CANCELAR" transaction="yes">
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	
	<% 	RUN pOutputErrorMessages . %>
							
	
	
</form>
</body>
</html>

<%
END.
%>




