<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw006_001a - Montagem de Rack - AJAX Browser
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
	{esapi\esapi006.p}
	{Includes\library.i}
	
	DEFINE VARIABLE vCounter AS INTEGER INITIAL 0  NO-UNDO.
		
	/* Instancia BOS */
	DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
	
	/* LIMPANDO TEMPORARIA DE ERRO, PARA CASO OS RACKS FOREM MAIS NOVOS, SEMPRE PEDIR CONFIRMAcao PARA CADA ITEM */
    for each tt-erro-api. delete tt-erro-api. end.
	/* LIMPANDO TEMPORARIA DE ERRO, PARA CASO OS RACKS FOREM MAIS NOVOS, SEMPRE PEDIR CONFIRMAcao PARA CADA ITEM */
       
	/* Monta tt-input */
	CREATE tt-monta-rack.
	ASSIGN tt-monta-rack.cod-usuario = GET-COOKIE ('cod_usu_websession')
		tt-monta-rack.cod-pto-controle = GET-FIELD ('pto_controle')
		tt-monta-rack.nr-rack = GET-FIELD ('rack')
		tt-monta-rack.rg-item = GET-FIELD ('leitura')
		tt-monta-rack.cod-usuar-auth = GET-FIELD('auth_login')
		tt-monta-rack.cod-senha-auth = GET-FIELD('auth_pass')
		tt-monta-rack.l-auth = false.
	
	RUN pi-valida-entrada-rack 
		(
		INPUT-OUTPUT TABLE tt-monta-rack,
		OUTPUT TABLE tt-erro-api
		).	
            	
	/* se nao deu erro, validar o fifo */
	IF  NOT CAN-FIND(FIRST tt-erro-api) THEN DO:
	
	   /* Monta tt-rg-item */
	    EMPTY TEMP-TABLE tt-rg-item.
	    REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):    
	        CREATE tt-rg-item.
	        ASSIGN tt-rg-item.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
	    END.
	    
	    RUN pi-valida-fifo (INPUT-OUTPUT TABLE tt-monta-rack,
	                        INPUT-OUTPUT TABLE tt-rg-item,
	                        OUTPUT TABLE tt-erro-api).
	                        
	END.
	
END.	
%>

<QUERYRESULTS>
<%
FIND FIRST tt-erro-api NO-LOCK NO-ERROR.
IF AVAILABLE tt-erro-api AND tt-erro-api.mensagem begins '56550' THEN DO:
%>
	<AUTH>Authorization Required</AUTH>
	<MOUNTRACK>true</MOUNTRACK>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO><%=tt-monta-rack.desc-rg-item%></DESCRICAO>	
	</RETURNDATA>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO></DESCRICAO>	
	</RETURNDATA>

<% END. %>


<% ELSE DO: %>

	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO><%=tt-monta-rack.desc-rg-item%></DESCRICAO>	
	</RETURNDATA>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO></DESCRICAO>	
	</RETURNDATA>

<% END. %>

	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>
