<%

/* ######################################################################
fdcw004_002 - Estorno de Reporte
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi001.p}
{Includes\header.i}

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Verifica se possui login feito */
IF  GET-COOKIE('cod_usu_websession') = "" THEN DO:
	RUN fdcw001_002.
	QUIT.
END. 

/* Valida se usuario pode acessar o programa */
RUN pi-menu 
    (INPUT GET-COOKIE('cod_usu_websession'), OUTPUT TABLE tt-menu).
FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw004_002".
IF NOT AVAILABLE tt-menu THEN DO:
	RUN fdcw001_001.
	QUIT.
END.

/* Verifica se possui um pto de controle definido */
IF GET-VALUE ('ptocontrole') = "" THEN DO:
	SET-USER-FIELD ('action', AppProgram).
	RUN fdcw001_003.
	QUIT.
END. 

/* Encontra Deposito e Localizacao Padroes para o Ponto de Controle */
RUN pi-devolve-ponto-controle 
    (
		INPUT GET-VALUE ('ptocontrole'),
		OUTPUT TABLE tt-pto-controle,
	    OUTPUT TABLE tt-erro-api
	).
FIND FIRST tt-pto-controle NO-LOCK NO-ERROR.

{&OUT} '<script language="javascript" src="/' Broker '/fdcw004_002.js?' RANDOM(0, 999999999) '"></script>' SKIP.

%>

<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">ESTORNO DE REPORTE</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w13 h12 ac" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="al">
										<table cellpadding="0" cellspacing="0" border="0" style="margin-top:4px;">
											<tr>
												<td class="Caption ar">Leitura</td>
												<td class="Caption al"><input name="leitura" id="leitura" type="text" class="field w7 s_on" transaction="yes" maxlength="13"></td>
											</tr>
											<tr>
												<td class="Caption ar">RG/RACK</td>
												<td class="Caption al"><input name="item" id="item" type="text" class="field w7 s_off" ></td>
											</tr>
											<tr>
												<td class="Caption ar">&nbsp;</td>
												<td class="Caption al"><input name="desc_item" id="desc_item" type="text" class="field w7 s_off" ></td>
											</tr>
											<tr>
												<td class="Caption ar">Reporte</td>
												<td class="Caption al"><input name="cod_reporte" id="cod_reporte" type="text" class="field w7 s_off" ></td>
											</tr>
											<tr>
												<td class="Caption ar">Ordem</td>
												<td class="Caption al"><input name="cod_ordem" id="cod_ordem" type="text" class="field w4 s_off"></td>
											</tr>
											<tr>
												<td class="Caption ar">Pto Controle</td>
												<td class="Caption al"><input name="pto_controle" id="pto_controle" type="text" class="field w3 s_off" value="<%=GET-VALUE ('ptocontrole')%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">&nbsp;</td>
												<td class="Caption al"><input name="descr_pto" id="descr_pto" type="text" class="field w7 s_off" value="<%=tt-pto-controle.desc-pto-controle%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">Local</td>
												<td class="Caption al"><input name="local_pto" id="local_pto" type="text" class="field w5 s_off" value="<%=tt-pto-controle.local-pto%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">Tipo</td>
												<td class="Caption al"><input name="tipo_pto" id="tipo_pto" type="text" class="field w5 s_off" value="<%=tt-pto-controle.desc-tipo-pto%>"></td>
											</tr>											
											<tr>
												<td class="Caption ar">Dep&oacute;ito Entr.</td>
												<td class="Caption al"><input name="deposito" id="deposito" type="text" class="field w4 s_off" value="<%=GET-VALUE('depositoentrada')%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">Localiz. Entr.</td>
												<td class="Caption al"><input name="localizacao" id="localizacao" type="text" class="field w3 s_off" value="<%=GET-VALUE('localizacaoentrada')%>"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td class="ac">
										<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:4px;">
											<tr>
												<td class="Caption ac h18"><input name="confirmar" id="confirmar" type="button" class="defaultbutton w4 s_off" format="button" value="CONFIRMAR" transaction="yes"></td>
												<td class="Caption ac h18"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="SAIR" transaction="yes"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	
	<% 	RUN pOutputErrorMessages . %>
	
</form>
</body>
</html>

<%
END.
%>
