<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw004_002 - Estorno de Reporte - AJAX Browser
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi004.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().*/
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.*/
/*RUN esapi\esapi004.p PERSISTENT SET hAPI ON SERVER hServer.*/

/* Encontra informações sobre o reporte */
RUN pi-busca-estorno-reporte 
	/*IN hAPI*/
    (
	INPUT GET-VALUE('leitura'),
	INPUT GET-VALUE('pto_controle'),
	OUTPUT TABLE tt-reporte,
	OUTPUT TABLE tt-erro-api ).
	
/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
END.	
/*fDesconectaServidor().	*/

%>
<QUERYRESULTS>
<%

DEFINE VARIABLE l-Erro AS LOGICAL INITIAL FALSE NO-UNDO.

IF CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN l-Erro = TRUE.

FIND FIRST tt-reporte NO-LOCK NO-ERROR. 
IF NOT AVAILABLE tt-reporte THEN l-Erro = TRUE.
	
IF NOT l-Erro THEN DO: 	%>
	<FORMDATA>
		<item><%=GET-VALUE('leitura')%></item>
		<desc_item><%=tt-reporte.desc-item%></desc_item>
		<cod_reporte><%=tt-reporte.nro-docto%></cod_reporte>
		<cod_ordem><%=tt-reporte.nr-ord-produ%></cod_ordem>
		<deposito><%=tt-reporte.cod-depos-dest%></deposito>
		<localizacao><%=tt-reporte.cod-localiz-dest%></localizacao>
	</FORMDATA>
<% 	END. ELSE DO: 	%>
	<FORMDATA>
		<item></item>
		<desc_item></desc_item>
		<cod_reporte></cod_reporte>
		<cod_ordem></cod_ordem>
		<deposito></deposito>
		<localizacao></localizacao>
	</FORMDATA>
<% END. %>

<ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>	
	<ERROR>
		<TYPE><%=tt-erro-api.tipo%></TYPE>
		<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
</ERRORS>

</QUERYRESULTS>



<% 
/*OUTPUT CLOSE.*/
%>


 
