<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw011_001a - Reporte de Sucata por Item - AJAX Browser
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi016.p}
{Includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Encontra informacoes sobre o RG da leitura */
DEFINE VARIABLE vLeitura AS CHARACTER NO-UNDO.
DEFINE VARIABLE vPtoControle AS CHARACTER NO-UNDO.
vLeitura = GET-FIELD('leitura').
vPtoControle = GET-FIELD('pto_controle').

RUN Pi-valida-item
    (
		INPUT vLeitura,
        input vPtoControle,
        input false,
	    OUTPUT TABLE tt-reporte-item2,
		OUTPUT TABLE tt-erro-api 
	).
END.	
%>
<QUERYRESULTS>
<%

IF NOT CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN DO:
	FIND FIRST tt-reporte-item2 NO-LOCK NO-ERROR. 
	if AVAILABLE tt-reporte-item2 THEN DO:     
		%>
		<FORMDATA>
			<cod_item><%=tt-reporte-item2.it-codigo%></cod_item>
			<desc_item><%=tt-reporte-item2.desc-item%></desc_item>
            <nrOrdProdu><%=tt-reporte-item2.nr-ord-produ%></nrOrdProdu>
            <depositosaida><%=tt-reporte-item2.cod-depos-orig%></depositosaida>
            <localizacaosaida><%=tt-reporte-item2.cod-localiz-orig%></localizacaosaida>
            <depositoentrada><%=tt-reporte-item2.cod-depos-dest%></depositoentrada>
            <localizacaoentrada><%=tt-reporte-item2.cod-localiz-dest%></localizacaoentrada>
		</FORMDATA>
		<% 
	END. 
END. ELSE DO:
		%>
		<FORMDATA>
			<cod_item></cod_item>
			<desc_item></desc_item>
            <nrOrdProdu></nrOrdProdu>
            <depositosaida></depositosaida>
            <localizacaosaida></localizacaosaida>
            <depositoentrada></depositoentrada>
            <localizacaoentrada></localizacaoentrada>
		</FORMDATA>
		<% 
END.
%>

<ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>	
	<ERROR>
		<TYPE><%=tt-erro-api.tipo%></TYPE>
		<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
</ERRORS>
</QUERYRESULTS>


<% 
/*OUTPUT CLOSE.*/
 %>
