<%

/* ######################################################################
fdcw001_003 - Selecao de Ponto de Controle
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi001.p}
{Includes\header.i}

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Verifica se possui login feito */
IF  GET-COOKIE('cod_usu_websession') = "" THEN DO:
	RUN fdcw001_002.
	QUIT.
END. 

/* Verifica se possui uma acao para o processo */
IF  GET-VALUE('action') = "" THEN DO:
	RUN fdcw001_001.
	QUIT.
END. 

/* Devolve Lista de Pontos de Controle */
RUN pi-pto-controle (
	INPUT GET-VALUE('action'),
	INPUT GET-COOKIE ('cod_usu_websession'),
	OUTPUT TABLE tt-pto-controle).


{&OUT} '<script language="javascript" src="/' Broker '/fdcw001_003.js?' RANDOM(0, 999999999) '"></script>' SKIP.
%>

	<body onload="fLoadRoutine()" scroll="no">
		<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
			<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td align="center" valign="middle" class="Section">SELE&ccedil;&atilde;O DE PONTO DE CONTROLE</td>
				</tr>
				<tr>
					<td align="center" valign="middle">
						<table class="inner_page w12" cellpadding="0" cellspacing="0" border="0">
							<tr>
								<td class="Caption ac h1">Selecione um Ponto de Controle</td>
							</tr>

							<tr>
								<td style="padding-top:0px;">
									<table class="browser" cellpadding="0" cellspacing="0" border="0" width="100%">
										<%
								DEFINE VARIABLE alternateRow AS INTEGER NO-UNDO.
																
								FOR EACH tt-pto-controle NO-LOCK:
									IF alternateRow = 1 THEN alternateRow = 2. ELSE alternateRow = 1.
									%>
											<tr>
												<td id="br<%=tt-pto-controle.cod-pto-controle%>" name="br<%=tt-pto-controle.cod-pto-controle%>" pRetValue="<%=tt-pto-controle.cod-pto-controle%>"
												 class="browser_row b<%=alternateRow%> ac" RollOverBrowser="yes" BrowserClick="yes">
													<%=tt-pto-controle.desc-pto-controle%>
												</td>
											</tr>
											<%
								END.
								%>
									</table>
								</td>
							</tr>

							<tr>
								<td class="ac">
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
										<tr>
											<td class="Caption ac"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="CANCELAR"
												 transaction="yes"></td>
										</tr>
									</table>
								</td>
							</tr>

						</table>
					</td>
				</tr>
			</table>



			<% 	RUN pOutputErrorMessages . %>


				<input type="Hidden" name="action" id="action" value="<%=GET-VALUE('action')%>">

		</form>
	</body>

	</html>

	<%
END.

%>
