<%

/* ######################################################################
fdcw001_007 - Selecao de Pedido
#######################################################################*/


DO ON ERROR UNDO, LEAVE:

{include/ttdef1.i}
{Includes\header.i}

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Verifica se possui login feito */
IF  GET-COOKIE('cod_usu_websession') = "" THEN DO:
	RUN fdcw001_002.
	QUIT.
END. 

/* Verifica se possui uma acao para o processo */
IF  GET-VALUE('action') = "" THEN DO:
	RUN fdcw001_001.
	QUIT.
END. 


{&OUT} '<script language="javascript" src="/' Broker '/fdcw001_007.js?' RANDOM(0, 999999999) '"></script>' SKIP.

%>

<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">SELE&Ccedil;&Atilde; DE PEDIDO</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w12 h5" cellpadding="0" cellspacing="0" border="0">
					<tr >
						<td class="Caption ac h2" >Digite um Pedido</td>
					</tr>
					
					<tr>
						<td class="ac">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="Caption ac"><input name="leitura" id="leitura" type="text" class="field w10 s_on"></td>
								</tr>
							</table>
						</td>
					</tr>
						
					<tr>
						<td class="ac">
							<table cellpadding="0" cellspacing="0" border="0" width="100%">
								<tr>
									<td class="Caption ac"><input name="confirmar" id="confirmar" type="button" class="defaultbutton w4 s_on" format="button" value="CONFIRMAR" transaction="yes"></td>
									<td class="Caption ac"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="CANCELAR" transaction="yes"></td>
								</tr>
							</table>
						</td>
					</tr>
					
				</table>
			</td>
		</tr>
	</table>
	
	
	<% 	RUN pOutputErrorMessages . %>
							
	
	<input type="Hidden" name="action" id="action" value="<%=GET-VALUE('action')%>">
	
</form>
</body>
</html>

<%
END.
%>




