<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw009_001 - Apontamento de Pintura - AJAX Browser
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi009.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

DEFINE VARIABLE  h-handle AS HANDLE NO-UNDO.

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().*/
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.*/
/*RUN esapi\esapi009.p PERSISTENT SET hAPI ON SERVER hServer.*/

/* Monta tt-inputs */
EMPTY TEMP-TABLE tt-codigo.
CREATE tt-codigo.
ASSIGN tt-codigo.codigo = GET-FIELD('leitura').


DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.
RUN esapi\esapi006.p PERSISTENT SET hAPI.
				
/* Monta tt-input */
CREATE tt-monta-rack.
ASSIGN tt-monta-rack.cod-usuario = GET-COOKIE ('cod_usu_websession') 
	tt-monta-rack.cod-pto-controle = GET-FIELD ('pto_controle')
	tt-monta-rack.nr-rack = GET-FIELD ('cod_rack') /* GET-FIELD ('rack') */
	tt-monta-rack.rg-item = GET-FIELD ('leitura') no-error.
	
message 'FDCW030_001A.HTML: USER: ' GET-COOKIE ('cod_usu_websession') SKIP.
message 'FDCW030_001A.HTML: PONTO1: ' GET-FIELD ('pto_controle') SKIP.
message 'FDCW030_001A.HTML: PONTO2: ' GET-FIELD ('ptocontrole') SKIP.
MESSAGE 'FDCW030_001A.HTML: RACK1.: ' GET-FIELD ('rack') SKIP.
MESSAGE 'FDCW030_001A.HTML: RACK2.: ' GET-FIELD ('cod_rack') SKIP.
MESSAGE 'FDCW030_001A.HTML: LEITUR: ' GET-FIELD ('leitura') SKIP.


/* Valida item */	
RUN pi-valida-entrada-rack IN hapi 
/*    IN hAPI*/
    (
	INPUT-OUTPUT TABLE tt-monta-rack,
	OUTPUT TABLE tt-erro-api
	).	
    
/* Elimina BOs */
DELETE PROCEDURE hAPI.	    
    
if not temp-table tt-erro-api:has-records then do:


   EMPTY TEMP-TABLE tt-pintura.
   CREATE tt-pintura.
   ASSIGN tt-pintura.cod-usuario = GET-COOKIE ('cod_usu_websession')
   	tt-pintura.cod-pto-controle = GET-FIELD ('pto_controle')
   	tt-pintura.cod-cor = GET-FIELD ('cod_cor').
       
       
       
   for FIRST dc-rg-item
      WHERE dc-rg-item.rg-item = tt-codigo.codigo
        AND dc-rg-item.situacao = 1
      NO-LOCK,
      FIRST dc-pto-controle 
      WHERE dc-pto-controle.cod-pto-controle = tt-pintura.cod-pto-controle
      NO-LOCK:
      
      if dc-rg-item.situacao = 1 THEN DO:
   
         if dc-pto-controle.cod-pto-controle-ativ <> "" THEN DO:
   
            if NOT VALID-HANDLE(h-handle) THEN
               RUN esapi/esapi005.p PERSISTENT SET h-handle.
               
   
              RUN pi-ativa-rg IN h-handle (INPUT dc-pto-controle.cod-pto-controle-ativ,
                                           INPUT dc-rg-item.rg-item,
                                           OUTPUT TABLE tt-erro-api).
                                                    
              DELETE PROCEDURE h-handle.
              IF CAN-FIND(FIRST tt-erro-api
                          WHERE tt-erro-api.tipo = 1) THEN
              DO:
                  CREATE tt-erro-api.
                  ASSIGN tt-erro-api.tipo = 1
                         tt-erro-api.mensagem = "Peca nao ativada ainda.".
                  
              END.
              else
               EMPTY TEMP-TABLE tt-erro-api.
              
          END.
          ELSE
          DO:
              CREATE tt-erro-api.
              ASSIGN tt-erro-api.tipo = 1
                     tt-erro-api.mensagem = "Peca nao ativada ainda. Ponto de controle de ativacao da montagem nao informado!".
              
          END.
      END.
      
   END.
       
       
   
   /* Valida Item */
   RUN pi-valida-pintura 
   	/*IN hAPI*/
       (
   	INPUT TABLE tt-pintura,
   	INPUT-OUTPUT TABLE tt-codigo,
   	OUTPUT TABLE tt-erro-api
   ).
   
   /* Elimina BOs */
   /*DELETE PROCEDURE hAPI.	*/
   END.	
   /*fDesconectaServidor().	*/
end.   

FIND FIRST tt-codigo NO-ERROR.


	
%>
	
<QUERYRESULTS>

	<RETURNDATA>
		<CODIGO><%=tt-codigo.codigo%></CODIGO>
		<DESCRICAO><%=tt-codigo.descricao%></DESCRICAO>
	</RETURNDATA>
	
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>



 



