<%

PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw001_004a - Selecao de Dep e Loc - AJAX Devolve Localizacoes
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi001.p}
{includes\library.i}


/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

DEFINE VARIABLE vDeposito AS CHARACTER INITIAL '' NO-UNDO.

vDeposito = GET-FIELD ('deposito').
RUN pi-localizacao 
	/*IN hAPI*/
    (INPUT vDeposito, OUTPUT TABLE tt-localizacao).	
			
/* Elimina BOs */
END.	
%>

<QUERYRESULTS>
	<RETURNDATA>
		<% FOR EACH tt-localizacao NO-LOCK: %>
			<OPTION>
				<NOME><%=tt-localizacao.descricao%></NOME>
				<VALOR><%=tt-localizacao.cod-localiz%></VALOR>
			</OPTION>
		<% END. %>
	</RETURNDATA>

	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>

</QUERYRESULTS>


<% OUTPUT CLOSE. %>
