<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw003_001 - Requisição de Estoque - AJAX Browser
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi003.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().*/
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.*/
/*RUN esapi\esapi003.p PERSISTENT SET hAPI ON SERVER hServer.*/


/* Recupera informações do item */	

CREATE tt-codigo.
ASSIGN tt-codigo.codigo = GET-FIELD ('leitura').	
RUN pi-valida-rg-item 
	/*IN hAPI*/
    (INPUT-OUTPUT TABLE tt-codigo, OUTPUT TABLE tt-erro-api).	

/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
END.	
/*fDesconectaServidor().	*/
	
FIND FIRST tt-codigo NO-LOCK NO-ERROR.
	
%>
	
<QUERYRESULTS>
	<RETURNDATA>
		<CODIGO><%=tt-codigo.codigo%></CODIGO>
		<DESCRICAO><%=tt-codigo.descricao%></DESCRICAO>
	</RETURNDATA>
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>



 



