<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw014_001a - Apontamento Invent rio - AJAX Browser
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi017.p}
{Includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Encontra informacoes sobre o RG da leitura */
DEFINE VARIABLE vLeitura AS CHARACTER NO-UNDO.
vLeitura = GET-FIELD('leitura').

RUN Pi-valida-ficha
    (
		INPUT vLeitura,
	    OUTPUT TABLE tt-inventario,
		OUTPUT TABLE tt-erro-api 
	).
END.	
%>
<QUERYRESULTS>
<%

IF NOT CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN DO:
	FIND FIRST tt-inventario NO-LOCK NO-ERROR. 
	if AVAILABLE tt-inventario THEN DO:     
		%>
		<FORMDATA>
            <dtSaldo><%=tt-inventario.dt-saldo%></dtSaldo>
			<nrFicha><%=tt-inventario.nr-ficha%></nrFicha>
            <itCodigo><%=tt-inventario.it-codigo%></itCodigo>
			<descItem><%=tt-inventario.desc-item%></descItem>
            <un><%=tt-inventario.un%></un>
            <codDepos><%=tt-inventario.cod-depos%></codDepos>
            <codLocaliz><%=tt-inventario.cod-localiz%></codLocaliz>
            <nrContagem><%=tt-inventario.nr-contagem%></nrContagem>
            <contagem><%=tt-inventario.contagem%></contagem>
		</FORMDATA>
		<% 
	END. 
END. ELSE DO:
		%>
		<FORMDATA>
            <dtSaldo></dtSaldo>
			<nrFicha></nrFicha>
            <itCodigo></itCodigo>
			<descItem></descItem>
            <un></un>
            <codDepos></codDepos>
            <codLocaliz></codLocaliz>
            <contagem></contagem>
		</FORMDATA>
		<% 
END.
%>

<ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>	
	<ERROR>
		<TYPE><%=tt-erro-api.tipo%></TYPE>
		<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
</ERRORS>
</QUERYRESULTS>


<% 
/*OUTPUT CLOSE.*/
 %>
