<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw005_001 - Ativacao de Item - AJAX Browser
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi005.p}
{Includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Encontra informacoes sobre o RG da leitura */
DEFINE VARIABLE vLeitura AS CHARACTER NO-UNDO.
vLeitura = GET-FIELD('leitura').
RUN Pi-devolve-rg 
    (
		INPUT vLeitura,
	    OUTPUT TABLE tt-consulta,
		OUTPUT TABLE tt-erro-api 
	).
END.	
%>

<QUERYRESULTS>
<%

IF NOT CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN DO:
	FIND FIRST tt-consulta NO-LOCK NO-ERROR. 
	IF AVAILABLE tt-consulta THEN DO:
		%>
		<FORMDATA>
			<cod_item><%=tt-consulta.it-codigo%></cod_item>
			<desc_item><%=tt-consulta.desc-item%></desc_item>
			<cod_rg><%=GET-FIELD('leitura')%></cod_rg>
		</FORMDATA>
		<% 
	END. 
END. ELSE DO:
		%>
		<FORMDATA>
			<cod_item></cod_item>
			<desc_item></desc_item>
			<cod_rg></cod_rg>
		</FORMDATA>
		<% 
END.
%>

<ERRORS>
	<% FOR EACH tt-erro-api NO-LOCK: %>	
	<ERROR>
		<TYPE><%=tt-erro-api.tipo%></TYPE>
		<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
	</ERROR>
	<% END. %>
</ERRORS>
</QUERYRESULTS>


<% 
/*OUTPUT CLOSE.*/
 %>