<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw001_007a - Selecao de Pedido - AJAX Browser
#######################################################################*/

DO ON ERROR UNDO, LEAVE:

{esapi\esapi007.p}
{includes\library.i}


/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Verifica o Pedido digitado */
RUN pi-verifica-pedido 
    (	INPUT GET-FIELD('leitura') ,
    	OUTPUT TABLE tt-erro-api ).

END.	
%>

<QUERYRESULTS>

	<RETURNDATA>
		<CODIGO><%=GET-FIELD('leitura')%></CODIGO>
	</RETURNDATA>
	
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>

</QUERYRESULTS>

<% 
%>
