<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################

#######################################################################*/

{esapi/esapi020i.i}
{includes\library.i}   
   
do ON ERROR UNDO, LEAVE:

   /* Instancia BOS */
   IF NOT VALID-HANDLE(hesapi020) THEN
      RUN esapi/esapi020.p PERSISTENT SET hesapi020.
      
      
   CREATE ttParam.
   ASSIGN
      ttParam.cRgItemIni      = ''
      ttParam.cRgItemFim      = 'ZZZZZZZZZZZZZZZZZZZZZ'
      ttParam.cNrRackIni      = GET-FIELD('nrRackIni')
      ttParam.cNrRackFim      = GET-FIELD('nrRackIni')
      ttParam.cTipo           = 'NR RACK'
      ttParam.cCodUsuario     = GET-COOKIE('cod_usu_websession')
      ttParam.cCodPtoControle = GET-FIELD('ptocontrole')
      .
      
  
   RUN pi-valida IN hesapi020 
      (INPUT TABLE ttParam,
       OUTPUT TABLE tt-erro-api).   
       
   if NOT TEMP-TABLE tt-erro-api:HAS-RECORDS THEN DO:
      
      RUN pi-processa IN hesapi020 
         (INPUT TABLE ttParam,
          OUTPUT TABLE tt-erro-api).
   END.          
    
   IF VALID-HANDLE(hesapi020) THEN
      DELETE PROCEDURE hesapi020.

END.	

%>
<QUERYRESULTS>
    <ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		    <ERROR>
			    <TYPE><%=tt-erro-api.tipo%></TYPE>
			    <MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		    </ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>



 


