<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw007_001a - Separação de Embarque - AJAX Browser
#######################################################################*/


/*DO ON ERROR UNDO, LEAVE:*/
{esapi\esapi007.p}
{includes\library.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.
/*fConectaServidor().                                        */
/*DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.                    */
/*RUN esapi\esapi007.p PERSISTENT SET hAPI ON SERVER hServer.*/

/* Monta TT Rgs / Racks */
DEFINE VARIABLE vCounter AS INTEGER NO-UNDO.
EMPTY TEMP-TABLE tt-codigo.
REPEAT WITH vCounter = 1 TO NUM-ENTRIES(GET-VALUE('ItemCodes')):	
	CREATE tt-codigo.
	ASSIGN tt-codigo.codigo = ENTRY(vCounter, GET-VALUE('ItemCodes')).
END.

/* Monta tt-inputs */
EMPTY TEMP-TABLE tt-pedido.
CREATE tt-pedido.
ASSIGN tt-pedido.nome-abrev = GET-FIELD ('cod_cliente')
	tt-pedido.nr-pedcli = GET-FIELD ('pedido')
	tt-pedido.rg-item = GET-FIELD ('leitura')
	tt-pedido.cod-pto-controle = GET-FIELD ('pto_controle').

/* Recupera informações do item */	
RUN pi-verifica-item-ped 
	/*IN hAPI*/
    (
	INPUT-OUTPUT TABLE tt-pedido,
	INPUT TABLE tt-codigo,
	OUTPUT TABLE tt-erro-api).	

/* Elimina BOs */
/*DELETE PROCEDURE hAPI.	*/
/*END.*/	
/*fDesconectaServidor().	*/


DEFINE VARIABLE l-Erro AS LOGICAL INITIAL FALSE NO-UNDO.

IF CAN-FIND(FIRST tt-erro-api WHERE tt-erro-api.tipo = 1 NO-LOCK) THEN l-Erro = TRUE.

FIND FIRST tt-pedido NO-LOCK NO-ERROR. 
IF NOT AVAILABLE tt-pedido THEN l-Erro = TRUE.


%>
<QUERYRESULTS>
	<% IF NOT l-Erro THEN DO: %>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO><%=tt-pedido.descricao%></DESCRICAO>	
	</RETURNDATA>
	<% END. ELSE DO: %>
	<RETURNDATA>
		<CODIGO><%=GET-FIELD ('leitura')%></CODIGO>
		<DESCRICAO></DESCRICAO>	
	</RETURNDATA>
	<% END. %>
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>
</QUERYRESULTS>

<% 
/*OUTPUT CLOSE.*/
%>






