<%
PROCEDURE OUTPUT-HEADERS:
	output-content-type("text/xml; charset=iso-8859-1").
END.
%>
<?xml version="1.0" encoding="ISO-8859-1"?>
<%

/* ######################################################################
fdcw001_005 - Selecao de Rack - AJAX Browser
#######################################################################*/

DO ON ERROR UNDO, LEAVE:

	{esapi\esapi006.p}
	{includes\library.i}

	/* Instancia BOS */
	DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

	/* Recupera informacoes do rack */	
	DEFINE VARIABLE vRack AS CHARACTER NO-UNDO.	
	DEFINE VARIABLE vDescRack AS CHARACTER NO-UNDO.	
	vRack = GET-FIELD ('leitura').	
	RUN pi-valida-rack 
		(INPUT vRack, OUTPUT vDescRack, OUTPUT TABLE tt-erro-api).	
	
END.	
%>

<QUERYRESULTS>

	<RETURNDATA>
		<CODIGO><%=vRack%></CODIGO>
	</RETURNDATA>
	
	<ERRORS>
		<% FOR EACH tt-erro-api NO-LOCK: %>	
		<ERROR>
			<TYPE><%=tt-erro-api.tipo%></TYPE>
			<MESSAGE><%=tt-erro-api.mensagem%></MESSAGE>
		</ERROR>
		<% END. %>
	</ERRORS>

</QUERYRESULTS>

<% 
%>
