<%

/* ######################################################################
fdcw011_001 - Reporte de Sucata por Item
#######################################################################*/

DO ON ERROR UNDO, LEAVE:
{esapi\esapi001.p}
{Includes\header.i}
/*OUTPUT TO VALUE (MessageLogFile) APPEND.*/

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

/* Verifica se possui login feito */
IF  ENTRY(1, GET-COOKIE("cod_usu_websession"), ",") = "" THEN DO:
	RUN fdcw001_002.
	QUIT.
END. 

/* Valida se usuario pode acessar o programa */
RUN pi-menu 
    (INPUT ENTRY(1, GET-COOKIE("cod_usu_websession"), ","), OUTPUT TABLE tt-menu).
FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw011_001".
IF NOT AVAILABLE tt-menu THEN DO:
	RUN fdcw001_001.
	QUIT.
END.

/* Verifica se possui um pto de controle definido */
IF GET-VALUE ('ptocontrole') = "" THEN DO:
	SET-USER-FIELD ('action', AppProgram).
	RUN fdcw001_003.
	QUIT.
END. 

/* Encontra Deposito e Localizacao Padroes para o Ponto de Controle */
RUN pi-devolve-ponto-controle 
    (
		INPUT GET-VALUE ('ptocontrole'),
		OUTPUT TABLE tt-pto-controle,
	    OUTPUT TABLE tt-erro-api
	).
FIND FIRST tt-pto-controle NO-LOCK NO-ERROR.

{&OUT} '<script language="javascript" src="/' Broker '/fdcw011_001.js?' RANDOM(0, 999999999) '"></script>' SKIP.
%>
<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
    <input type="hidden" name="nrOrdProdu" id="nrOrdProdu" value="<%=GET-VALUE('nrOrdProdu')%>">
    <input type="hidden" name="localizacaosaida" id="localizacaosaida" value="<%=GET-VALUE('localizacaosaida')%>">
    <input type="hidden" name="localizacaoentrada" id="localizacaoentrada" value="<%=GET-VALUE('localizacaoentrada')%>">

	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">REPORTE DE SUCATA POR ITEM</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w13 h11 ac" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td class="al">
										<table cellpadding="0" cellspacing="0" border="0" style="margin-top:4px;">
											<tr>
												<td class="Caption ar">Leitura</td>
												<td class="Caption al"><input name="leitura" id="leitura" type="text" class="field w7 s_on" transaction="yes" maxlength="13"></td>
											</tr>
											<tr>
												<td class="Caption ar">Qtde. Refugo</td>
												<td class="Caption al"><input name="qtde_refugada" id="qtde_refugada" type="text" class="field w1 s_on" transaction="yes" ></td>
											</tr>
											<tr>
												<td class="Caption ar">Item</td>
												<td class="Caption al"><input name="cod_item" id="cod_item" type="text" class="field w4 s_off"></td>
											</tr>
											<tr>
												<td class="Caption ar">&nbsp;</td>
												<td class="Caption al"><input name="desc_item" id="desc_item" type="text" class="field w8 s_off"></td>
											</tr>
											<tr>
												<td class="Caption ar">Pto Controle</td>
												<td class="Caption al"><input name="pto_controle" id="pto_controle" type="text" class="field w3 s_off" value="<%=GET-VALUE ('ptocontrole')%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">&nbsp;</td>
												<td class="Caption al"><input name="descr_pto" id="descr_pto" type="text" class="field w7 s_off" value="<%=tt-pto-controle.desc-pto-controle%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">Depos. Orig.</td>
												<td class="Caption al"><input name="depositosaida" id="depositosaida" type="text" class="field w5 s_off" value="<%=GET-VALUE('depositosaida')%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">Depos. Dest.</td>
												<td class="Caption al"><input name="depositoentrada" id="depositoentrada" type="text" class="field w5 s_off" value="<%=GET-VALUE('depositoentrada')%>"></td>
											</tr>
											<tr>
                                                <td class="Caption ar">RG/RACK</td>
                                                <td class="Caption ar"><input name="rgrack" id="rgrack" type="text" class="field w10 s_on" maxlength="13"></td>
                                            </tr>
											<!--<tr>
												<td class="Caption ar">Local</td>
												<td class="Caption al"><input name="local_pto" id="local_pto" type="text" class="field w5 s_off" value="<%=tt-pto-controle.local-pto%>"></td>
											</tr>
											<tr>
												<td class="Caption ar">Tipo</td>
												<td class="Caption al"><input name="tipo_pto" id="tipo_pto" type="text" class="field w5 s_off" value="<%=tt-pto-controle.desc-tipo-pto%>"></td>
											</tr>-->
										</table>
									</td>
								</tr>
								<tr>
									<td class="ac">
										<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:4px;">
											<tr>
												<td class="Caption ac h18"><input name="confirmar" id="confirmar" type="button" class="defaultbutton w4 s_off" format="button" value="CONFIRMAR" transaction="yes"></td>
												<td class="Caption ac h18"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="SAIR" transaction="yes"></td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	<% 	RUN pOutputErrorMessages . %>
	
</form>
</body>
</html>

<%
END.
%>
