<%

/* ######################################################################
fdcw040_002 - Apontamento Cor Rack
#######################################################################*/


DO ON ERROR UNDO, LEAVE:
{esapi\esapi007.p}
{esapi\esapi001p.i}
{Includes\header.i}

/* Instancia BOS */
DEFINE VARIABLE cAux AS CHARACTER NO-UNDO.

DEFINE VARIABLE hAPI AS HANDLE NO-UNDO.                    

/* Verifica se possui login feito */
IF  GET-COOKIE('cod_usu_websession') = "" THEN DO:
	RUN fdcw001_002.
	QUIT.
END. 

/* Valida se usuario pode acessar o programa */
RUN pi-menu 
    (INPUT GET-COOKIE('cod_usu_websession'), OUTPUT TABLE tt-menu).
FIND FIRST tt-menu WHERE tt-menu.cod-programa = "fdcw040_001".
IF NOT AVAILABLE tt-menu THEN DO:
	RUN fdcw001_001.
	QUIT.
END.

/* Verifica se possui um pto de controle definido */
IF GET-VALUE ('ptocontrole') = "" THEN DO:
	SET-USER-FIELD ('action', AppProgram).
	RUN fdcw001_003.
	QUIT.
END. 
	      
/* Verifica se possui um pedido informado */
IF GET-VALUE ('pedido') = "" THEN DO:
	cAux = AppProgram + "?ptocontrole=" + GET-VALUE ('ptocontrole').
	SET-USER-FIELD ('action', cAux).
	RUN fdcw001_007.
	QUIT.
END. 


/* Encontra Deposito e Localizacao Padroes para o Ponto de Controle */
RUN pi-devolve-ponto-controle 
    (
		INPUT GET-VALUE ('ptocontrole'),
		OUTPUT TABLE tt-pto-controle,
	    OUTPUT TABLE tt-erro-api
	).
FIND FIRST tt-pto-controle NO-LOCK NO-ERROR.

def var c-pedido as char no-undo.
assign c-pedido = get-value("pedido").

          
RUN pi-devolve-pedido 
    (
		INPUT c-pedido,
		OUTPUT TABLE tt-pedido,
		OUTPUT TABLE tt-codigo
	).
    
run piReturnEmbarque
   (INPUT TABLE tt-pedido,
    OUTPUT TABLE ttDcEmbarque).
    
FIND FIRST tt-pedido NO-LOCK NO-ERROR.     
assign tt-pedido.nr-pedcli = TRIM(tt-pedido.nr-pedcli).                                 
    
create ttDcEmbarque.
assign 
   ttDcEmbarque.cod-pto-controle = tt-pto-controle.cod-pto-controle
   ttDcEmbarque.nome-abrev       = tt-pedido.nome-abrev
   ttDcEmbarque.nr-embarque      = 0
   ttDcEmbarque.cNrEmbarque      = 'NOVO'
   ttDcEmbarque.nr-pedcli        = tt-pedido.nr-pedcli
   ttDcEmbarque.situacao         = 1
   .
      
{&OUT} '<script language="javascript" src="/' Broker '/fdcw040_002.js?' RANDOM(0, 999999999) '"></script>' SKIP.
%>

<body onload="fLoadRoutine()" scroll="no">
<form action="" method="POST" enctype="application/x-www-form-urlencoded" target="_self" name="formulario" id="formulario">
	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">SELE&Ccedil;&Atilde;O DE EMBARQUE</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w20 h20 ac" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td valign="top">
							<table cellpadding="0" cellspacing="0" border="0">
								<tr>
									<td valign="top">
										<table cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="Caption al">
													<table cellpadding="0" cellspacing="0" border="0">
														<tr>
															<td class="Caption ar">Pto. Controle</td>
															<td class="Caption al" colspan="3"><input name="pto_controle" id="pto_controle" type="text" class="field w2 s_off" value="<%=GET-VALUE ('ptocontrole')%>"></td>
															<td class="Caption ar">&nbsp;</td>
															<td class="Caption al" colspan="3">&nbsp;<input name="descr_pto" id="descr_pto" type="text" class="field w5 s_off" value="<%=tt-pto-controle.desc-pto-controle%>"></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td class="Caption al">
													<table cellpadding="0" cellspacing="0" border="0">
														<tr>
															<td class="Caption ar">Local</td>
															<td class="Caption al"><input name="local_pto" id="local_pto" type="text" class="field w3 s_off" value="<%=tt-pto-controle.local-pto%>"></td>
															<td class="Caption ar">Tipo</td>
															<td class="Caption al"><input name="tipo_pto" id="tipo_pto" type="text" class="field w6 s_off" value="<%=tt-pto-controle.desc-tipo-pto%>"></td>
														</tr>
													</table>
												</td>
											</tr>
											<tr>
												<td class="Caption al">
													<table cellpadding="0" cellspacing="0" border="0">
														<tr>
															<td class="Caption ar">Pedido</td>
															<td class="Caption al"><input name="pedido" id="pedido" type="text" class="field w7 s_off" value="<%=GET-VALUE('pedido')%>"></td>
														</tr>
														<tr>
															<td class="Caption ar">Cliente</td>
															<td class="Caption al"><input name="cod_cliente" id="cod_cliente" type="text" class="field w7 s_off" value="<%=tt-pedido.nome-abrev%>"></td>
														</tr>
														<tr>
															<td class="Caption ar">&nbsp;</td>
															<td class="Caption al"><input name="desc_cliente" id="desc_cliente" type="text" class="field w11 s_off" value="<%=tt-pedido.nome-emit%>"></td>
														</tr>
													</table>
												</td>
											</tr>
                                            <tr>
												<td class="ac">						
													<DIV class="browser w14 h9" style="margin-top:4px;" >	
														<table width="100%" id="browser_produto" name="browser_produto" cellpadding="0" cellspacing="0" border="0">														
															<tr>
																<td class="browser_row bh">Embarque</td>
                                                                <td class="browser_row bh">Data</td>
															</tr>
															<% FOR EACH ttDcEmbarque NO-LOCK: %>
																<tr  valid="yes" name="browserrow_<%= ttDcEmbarque.cNrEmbarque%>" id="browserrow_<%=ttDcEmbarque.cNrEmbarque%>"  pRetValue="<%=ttDcEmbarque.cNrEmbarque%>">
																	<td name="browserrow_<%=ttDcEmbarque.cNrEmbarque%>" id="browserrow_<%=ttDcEmbarque.cNrEmbarque%>"  valid="yes" BrowserClick="yes" class="browser_row b1" pRetValue="<%=ttDcEmbarque.cNrEmbarque%>"><%=ttDcEmbarque.cNrEmbarque%></td>
                                                                    <td name="browserrow_<%=ttDcEmbarque.cDataEmbarque%>" id="browserrow_<%=ttDcEmbarque.cDataEmbarque%>"  valid="yes" BrowserClick="yes" class="browser_row b1" pRetValue="<%=ttDcEmbarque.cNrEmbarque%>"><%=ttDcEmbarque.cDataEmbarque + " " + ttDcEmbarque.hora-embarque%></td>
																</tr>
															<% END. %>	
															<tr>
																<td colspan="2" class="browser_row berror">Selecione o Embarque para continuar.</td>
															</tr>
														</table>														
													</DIV>
												</td>
											</tr>
											<tr>
												<td class="ac">
													<table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-top:4px;">
														<tr>
                                                            <td class="Caption ac"><input name="cancelar" id="cancelar" type="button" class="defaultbutton w4 s_on" format="button" value="CANCELAR" transaction="yes"></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	
	
	<% 	RUN pOutputErrorMessages . %>
	
	<input type="Hidden" name="contagem" id="contagem" value="">
	<input type="Hidden" name="auth_login" id="auth_login" value="">
	<input type="Hidden" name="auth_pass" id="auth_pass" value="">
</form>
</body>
</html>

<%
END.
%>

