<%

/* ######################################################################
fdcw001_002 - Tela de Login
#######################################################################*/

DO ON ERROR UNDO, LEAVE:

{Include\ttdef1.i}
{Includes\header.i}

{&OUT} '<script language="javascript" src="/' Broker '/fdcw001_002.js?' RANDOM(0, 999999999) '"></script>' SKIP.
%>

<body onload="fLoadRoutine()" scroll="no">

	<%
	{&OUT} '<form action="fdcw001_002a" method="POST" enctype="application/x-www-form-urlencoded" target="ValidateLogin" name="formulario" id="formulario">' SKIP.
	%>

	<table class="outer_page" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td align="center" valign="middle" class="Section">LOGIN DE USU&Aacute;RIO</td>
		</tr>
		<tr>
			<td align="center" valign="middle">
				<table class="inner_page w10" cellpadding="0" cellspacing="0" border="0">
					
					<tr>
						<td class="ac">
							<table cellpadding="0" cellspacing="0" border="0" style="margin-top:4px;">
								<tr>
									<td class="Caption ac">Identifica&ccedil;&atilde;o do Usu&aacute;rio</td>
								</tr>
								<tr>
									<td class="Caption ac"><input name="leitura" id="leitura" type="password" class="field w5 s_on"></td>
								</tr>
							</table>
						</td>
					</tr>
						
					
				</table>
			</td>
		</tr>
	</table>
		
	
	<% 	RUN pOutputErrorMessages . %>
	
	<iframe height="0" width="0" name="ValidateLogin" id="ValidateLogin" style="visibility:hidden;"></iframe>
</form>
</body>
</html>

<%
END.
%>
