body { /* defaults para corpo da pagina */
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	height:324px;
	width:324px;
	scroll:no;
	alignment: center;
	vertical-align: middle;
}
.outer_page { /* fundo do aplicativo */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #336699;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	width: 324px;
	height: 324px;
}
.inner_page { /* pagina */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #cccc66;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	padding: 4px;
}
.section { /* titulo superior */
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	vertical-align: middle;
	text-align: center;
	line-height: 14px;
	background-color: #333366;
}
.browser { /* div do browser */
	overflow:scroll;
	scroll: auto;
	position:relative;
	height:1px;
	background-color: #888888;
	border-top-color: #555599;
	border-right-color: #555599;
	border-bottom-color: #555599;
	border-left-color: #555599;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	text-align: left;
}
.browser_row { /* linha do browser */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	line-height: 12px;
	height: 16px;
	margin: 0px;
	padding-right: 2px;
	padding-left: 2px;
	border: 1px solid #777777;
}
.bh { /* qualificador - header do browser */
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
}
.b1 { /* qualificador - browser linha tipo 1 */
	background-color: #eaf097;
}
.b2 { /* qualificador - browser linha tipo 2 */
	background-color: #cccc66;
}
.b3 { /* qualificador - browser linha mouseover */
	background-color: #FFFFFF;
}
.berror { /* qualificador - erro no browser */
	background-color: #cc0000;
	color: #FFFFFF;
	text-align:center;
}
.caption { /* caption */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color:  #000000;
	height: 16px;
	text-align: left;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.field { /* campo input padrao */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	height: 16px;
	text-align: left;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	cursor: text;
}
.dropdown {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	background-color: #FFFFFF;
	color: #000000;
	height: 16px;
	border-top-width: 1px;
	border-right-width: 4px;
	border-bottom-width: 1px;
	border-left-width: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555599;
	border-right-color: #555599;
	border-bottom-color: #555599;
	border-left-color: #555599;
	text-align: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	cursor: hand;
}
.pop_notify { /* div de notificações no topo */
	position: absolute;
	height: 1px;
	width: 320px;	
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	top: 0px;
	left: 0px;
}
.notify_table { /* tabela que contem as notificacoes */
	/*
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;	
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;	
	*/
}
.notification { /* linha de notificação */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	line-height: 14px;
	height: 16px;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	width: 280px;	
	padding-left: 2px;
	padding-right: 2px;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;	
}
.nerror { /* qualificador - notificação de erro */
	color: #FFFFFF;
	background-color: #cc0000;
}
.nadvert { /* qualificador - notificação de advertencia */
	color: #000000;
	background-color: #ffcc00;
}
.nsuccess { /* qualificador - notificação de sucesso */
	color: #FFFFFF;
	background-color: #009900;
}
.nauth { /* qualificador - notificação de autenticacao */
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	height: 16px;
	font-weight: bold;
}
.w1 { /* qualificador - width */
	width: 40px;
}
.w2 { /* qualificador - width */
	width: 60px;
}
.w3 { /* qualificador - width */
	width: 80px;
}
.w4 { /* qualificador - width */
	width: 100px;
}
.w5 { /* qualificador - width */
	width: 120px;
}
.w6 { /* qualificador - width */
	width: 140px;
}
.w7 { /* qualificador - width */
	width: 160px;
}
.w8 { /* qualificador - width */
	width: 180px;
}
.w9 { /* qualificador - width */
	width: 200px;
}
.w10 { /* qualificador - width */
	width: 220px;
}
.w11 { /* qualificador - width */
	width: 240px;
}
.w12 { /* qualificador - width */
	width: 260px;
}
.w13 { /* qualificador - width */
	width: 280px;
}
.w14 { /* qualificador - width */
	width: 300px;
}
.w19 { /* qualificador - width */
	width: 320px;
}
.w20 { /* qualificador - width */
	width: 312px;
}
.h0 { /* qualificador - height */
	height: 1px;
}
.h1 { /* qualificador - height */
	height: 20px;
}
.h18 { /* qualificador - height */
	height: 30px;
}
.h2 { /* qualificador - height */
	height: 40px;
}
.h3 { /* qualificador - height */
	height: 60px;
}
.h4 { /* qualificador - height */
	height: 80px;
}
.h5 { /* qualificador - height */
	height: 100px;
}
.h6 { /* qualificador - height */
	height: 110px;
}
.h7 { /* qualificador - height */
	height: 120px;
}
.h8 { /* qualificador - height */
	height: 140px;
}
.h9 { /* qualificador - height */
	height: 160px;
}
.h10 { /* qualificador - height */
	height: 180px;
}
.h11 { /* qualificador - height */
	height: 200px;
}
.h12 { /* qualificador - height */
	height: 220px;
}
.h13 { /* qualificador - height */
	height: 240px;
}
.h14 { /* qualificador - height */
	height: 260px;
}
.h19 { /* qualificador - height */
	height: 320px;
}
.h20 { /* qualificador - height */
	height: 298px;
}
.ac { /* qualificador - alinhamento */
	text-align: center;
}
.ar { /* qualificador - alinhamento */
	text-align: right;
}
.al { /* qualificador - alinhamento */
	text-align: left;
}
.s_on{ /* qualificador - campos ON */
	background-color: #FFFFFF;
	color: #000000;
	border-top-color: #555599;
	border-right-color: #555599;
	border-bottom-color: #555599;
	border-left-color: #555599;
}
.non { /* qualificador para div de notificações */
	height: 1px; !important;
	overflow: visible;
}
.noff { /* qualificador para div de notificações */
	height: 1px; !important;
	overflow: hidden;
}
.defaultbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	background-color: #555599;
	color: #FFFFFF;
	height: 22px;
	border: 0px solid #555599;
	cursor: hand;
}
.s_off{ /* qualificador - campos OFF */
	background-color: #ffff99;
	color: #000000;
	border-top-color: #cc9900;
	border-right-color: #cc9900;
	border-bottom-color: #cc9900;
	border-left-color: #cc9900;
	cursor: no-drop !important;
}
.s_error{ /* qualificador - campos ERROR */
	background-color: #ffcc99;
	color: #EE0000;
	border-top-color: #FF0000;
	border-right-color: #FF0000;
	border-bottom-color: #FF0000;
	border-left-color: #FF0000;
}








/*
.info {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	font-weight: bold;
	color:  #555599;
	height: 18px;
	text-align: left;
}
.zoomtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #555599;
	height: 18px;
	vertical-align: middle;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 18px;
}
.subsection {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #555599;
	background-color: #c6cece;
	height: 18px;
	vertical-align: middle;
	padding-right: 10px;
	padding-left: 10px;
	text-align: left;
	line-height: 18px;
}
.dockable {
	overflow:visible;
	height:1px;
}
.docked {
	overflow:hidden;
	height:1px;
}
.area {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	height: 100px;
	text-align: left;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	border-top-width: 1px;
	border-right-width: 4px;
	border-bottom-width: 1px;
	border-left-width: 10px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
.counter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 10px;
	height: 12px;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 5px;
	border-bottom-width: 1px;
	border-left-width: 5px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	background-color: #FFFFFF;
	color: #888888;
	border-top-color: #AAAAAA;
	border-right-color: #AAAAAA;
	border-bottom-color: #AAAAAA;
	border-left-color: #AAAAAA;
	cursor: no-drop;
	width: 80px;
}
.radioset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	text-align: left;
	height: 16px;
}
.checkset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	text-align: left;
	height: 16px;
}
.important{
	color: red;
}


S_ON


.multiple{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 10px;
	text-align: center;
	color: #555599;
	background-color: #d0dee5;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555599;
	border-right-color: #555599;
	border-bottom-color: #555599;
	border-left-color: #555599;
}
.zoom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	background-color: #555599;
	color: #FFFFFF;
	height: 18px;
	width: 18px;
	border: 1px solid;
	cursor: hand;
}



S_OFF
S_ERROR


.spaceright {
	margin-right:10px;
}
.spacetop {
	margin-top:5px;
}
*/











